/* Hearder */
* {
  font-family: "roboto";
}

.logo {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.logo > img {
  width: 150px;
  height: 25px;
}

.reserve {
  background-color: #f2f2f2;
  width: 100%;
  height: 250px;
}

.paris {
  width: 100%;
  height: 40px;
  background-color: lightgray;
  border-top: 0.5px solid gray;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.disflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
}

.grey {
  color: grey;
}

.explore {
  width: 65%;
  height: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 3px 10px -7px black;
          box-shadow: 0px 3px 10px -7px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px 20px 20px 20px;
  margin-left: 50px;
}

.white {
  color: white;
}

.boxE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 10px -7px black;
          box-shadow: 0px 3px 10px -7px black;
  background-color: #f2f2f2;
  border-color: lightgray;
  width: 80%;
  height: 55px;
  margin-left: 30px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

.btn {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 40px;
}

.boxE_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
}

.icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
}

.icone:hover {
  color: #9356DC;
}

/*section*/
.restaurant {
  width: 100%;
  height: 1200px;
  padding-top: 0.3px;
  padding-left: 20px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.carte {
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 3px 10px -7px black;
          box-shadow: 0px 3px 10px -7px black;
  width: 90%;
  height: 250px;
  position: relative;
}

.carte img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte_new {
  font-size: 0.8em;
  color: green;
  position: absolute;
  top: 10px;
  right: 3px;
  border-radius: 7px;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 80px;
}

.carte h3,
.carte p {
  margin: 0.1px;
  padding-left: 5%;
}

.flexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carte_like {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 26px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 26px;
}

.carte_like:hover {
  color: #9356DC;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #262020;
}

.footer a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

a:hover {
  color: #99E2D0;
}

.footer_titre {
  font-family: "shrikhand";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 20px;
}

.footer_column {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-top: 10px;
  gap: 7px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*menu1*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

.logo > img {
  width: 150px;
  height: 25px;
}

.menu1 {
  height: 217px;
  margin: 0;
  padding: 0;
}

.menu1 .menu1_img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.menu_carte {
  width: 100%;
  width: 100%;
  padding-bottom: 84px;
  border-radius: 40px 40px 0 0;
  height: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.menu_carte_name {
  font-family: "shrikhand", Impact, sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin-top: 38px;
  margin-bottom: 35px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte_name_h3 {
  font-size: 16px;
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 10px;
  font-weight: initial;
  color: gray;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 10px -7px black;
          box-shadow: 0px 3px 10px -7px black;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-color: lightgray;
  width: 80%;
  height: 65px;
  margin-left: 5px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
  width: 95%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  gap: 2px;
}

.box h4 {
  margin: 0.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box p {
  color: gray;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 7px;
}

.flexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commande {
  width: 217px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 3px 10px -7px black;
          box-shadow: 0px 3px 10px -7px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-left: 50px;
  margin-top: 20px;
}

.btn_commande {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FFF;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */