.footer{
 width: 100%;
 height: 300px;
 background-color: rgb(38, 32, 32);
}
.footer a{
 text-decoration: none;
 color: $white;
 padding-left: 10px;
}
a:hover{
 color: darkblue;
}
.footer_titre{
font-family: "shrikhand";
color: white;
@include display;
font-size: 20px;
padding-top: 20px;
}
.footer_column{
 color: $white;
 @include flexColumn;
 padding-left: 15px;
 padding-top: 10px;
 gap:7px;
}
.display{
 display: flex;
}