/* Hearder */

*{
  font-family: "roboto";
}
body{
  width:100%;
  margin: auto;
  max-width: 1920px;
  
}
.logo{
   padding-top: 10px;
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
  }
  .logo> img{
   width: 150px;
   height:25px;
  }
.reserve{
 background-color: #f2f2f2;
 width: 100%;
 height: 290px;
 padding-bottom: 40px;
}
.paris{
 width: 100%;
 height: 40px;
 background-color: lightgray;
 border-top: 0.5px solid gray;
 }
 .center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 10px;
 }

.disflex{
  display: flex;
  padding-right: 25px;
}
.grey{
 color: grey;
}
.explore{
 margin:60px;
 height: 40px;
 background: linear-gradient(355deg, #9356DC, #FF79DA);
 @include box_shadow;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px 20px 20px 20px;
 width:200px;
}
.explore:hover{
  background: linear-gradient(#FF79DA, #9356DC);
  cursor:pointer;
}
.btn_explore{
  align-self: center;
  color: #FFF;
  text-decoration: none;
}
h2{
  padding-left: 20px;
}
.centrer{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablette;
  margin:10px;
}

.boxE {
 display: flex;
 justify-content: center;
 align-items: center;
 @include box_shadow;
 background-color: $white_color;
 border-color: lightgray;
 width: 80%;
 height: 65px;
 margin-left: 15px;
 border-radius: 20px 20px 20px 20px;
 margin-bottom: 10px;
}
.btn{
 width: 25px;
 height: 25px;
 border-radius: 20px;
 color:$white;
 background-color: $primary;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 right: 75px;
 @include tablette;
 right:20px;
}
.boxE_texte{
  @include flexBetween;
}
 .icone{
  display: flex;
  padding-right: 25px;
  }
.icone:hover{
  color: $primary;
}