/*section*/
.restaurant{
 width:100%;
 padding-bottom: 40px;
 padding-top: 0.3px;
 @include fond-color;
 @include flexColumn;
 
}
h1{
 @include display;
}
.carte{
  border-radius: 20px 20px 20px 20px;
  @include box_shadow;
  width: 90%;
  height: 250px; 
  position: relative;
  @include none;
 img{
  width: 100%;
    border-radius: 20px 20px 0 0;
    height: 80%;
    object-fit: cover;  
   }
}
.gap{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
 
}

.flexRow{
  @include tablette;
  display: flex;
  flex-direction: row;
  margin:0;
  width:100%;
  gap:10px

  }
.carte_new{
  font-size: 0.8em;
  color: green;
  position: absolute;
  top:10px;
  right:3px;
  border-radius: 7px;
  background-color: $tertiaire;
  @include center;
  height: 30px;
  width: 80px;
}
.carte h3,
.carte p{
 margin: 0.1px;
 padding-left: 5%;
}
.flexBetween{
  display: flex;
  justify-content: space-between;
}
.carte_like{
  width:30px;
  height: 30px;
  position: absolute;
  right:26px;
  padding-top: 10px;
  font-size: 26px;
  font-weight: normal;
  cursor: pointer;
}

.carte_like:hover{
  color: $primary;
  transition:color 1s ease-out;
  background: linear-gradient(355deg,#FF79DA, #9356DC);
  background-clip: text;
  font-weight: bold;
}
.carte_like i::before{
  display: inline;

}
