@mixin fond-color{
 background-color: #f6f6f6;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@mixin display {
 display: flex;
 padding-left: 10px;
}
@mixin carte_font{
 background-color: white;
}
@mixin flexColumn{
display: flex;
flex-direction: column;
}
@mixin box_shadow{
  box-shadow: 0px 3px 10px -7px black;
}
@mixin flexBetween{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin none{
  text-decoration: none;
  color: black;
}