@mixin fond-color{
 background-color: #f2f2f2;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@mixin display {
 display: flex;
 padding-left: 10px;
}
@mixin carte_font{
 background-color: white;
}
@mixin flexColumn{
display: flex;
flex-direction: column;

}
