@mixin fond-color{
 background-color: #f6f6f6;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@mixin display {
 display: flex;
 padding-left: 10px;
}
@mixin carte_font{
 background-color: white;
}
@mixin flexColumn{
display: flex;
flex-direction: column;

}
@mixin box_shadow{
  box-shadow: 0px 3px 10px -7px black;
}
@mixin flexBetween{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin none{
  text-decoration: none;
  color: black;
}
@mixin tablette{
  @media screen and (min-width:$tablette){
    flex-direction: row;
  }
}
@mixin gradient{
  background: linear-gradient(#FF79DA, #9356DC);
  cursor:pointer;
}
@mixin box{
  display: flex;
  background-color: $white;
  border-color: lightgray;
  width: 100%;
  height: 65px;
  margin-left: 5px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  gap:2px;
  position: relative;
  overflow: hidden;
}